[2016-10-20 22:44] gazhands opened #3 "Federated design team"
Federated design team structure. How does this work across the DTA teams? What does the process look like?

[2016-10-20 22:44] gazhands opened #4 "Work out a collaboration work flow for internal DTA teams"

[2016-10-20 22:45] gazhands opened #5 "Create - (4) Templates for each category"
MVP - Mock up 4 Templates for each category
Example pages to display current content/layout

[2016-10-26 02:51] petronbot opened #7 "Design Guide doesn't reflect all the features of UI Kit docs"
- [x] Copy contents of UI Kit README into home page
- [x] Remove extra pages from side nav
- [x] Update README

[2016-10-27 05:32] petronbot opened #8 "Principles page"

[2016-10-27 05:38] petronbot opened #9 "Foundations overview page"
As a user, at any time, I want to read about how the foundations of the UI Kit's design system work.

**To do:**
- [ ]

[2016-10-27 05:39] petronbot opened #10 "Components page: Buttons"
As a user, at any time, I want to understand how to implement a Button component using the UI-Kit's styles.

**To do:**
- [ ] Create a new field in the UI-Kit's KSS comments called 'Collection' that is exported to the JSON data file
- [ ] Add `Collection: Components` to the Button section's KSS comment
- [ ] Create a new Jekyll Collection called 'Components' that is accessible at `components/compo

[2016-10-27 05:43] petronbot opened #11 "Patterns overview page"

[2016-10-27 05:51] petronbot opened #12 "Site search"
Based on user feedback, the Design Guide needs a site search feature.

The Content Guide probably also needs a site search feature, so let's build one so that it can be reused on other Jekyll sites.

[2016-10-27 05:53] petronbot opened #13 "Abstract Jekyll theming out of Design Guide"
The templates, assets and features built into the Design Guide should be made available to other new and existing guides.

[2016-10-27 06:00] petronbot opened #14 "Home page: design update"
The home page needs new layout, design & content.

**Note:** We should consider that this 'home page' template could be included in a re-usable guides theme.

[2016-10-27 06:12] klepas commented on #4
@gazhands Just bump on this — is this done by that graphic diagram you showed us today (on Thurs)? (:

[2016-10-27 06:14] hannah-ustwo opened #15 "Collaboration Tool - Workshop for MVP"

[2016-10-31 03:42] #7 closed

[2016-10-31 03:48] petronbot opened #17 "Getting started page"
As a user of the Design Guide I need to know how to get started with UI-Kit and service design in general.

**Blocks:**
- Reorganise Design Guide content into new IA: https://github.com/AusDTO/dto-design-guide/issues/19

**Related issues:**
- Refactor and pull over example layouts into the design guide: https://github.com/AusDTO/gov-au-ui-kit#425
- Purpose statement for UI-Kit and Design Guide: ht

[2016-11-01 01:45] klepas commented on #4
@gazhands Hey. Bump? :)

[2016-11-01 01:46] klepas commented on #3
As with #4, bumping this — any extra info @gazhands ?

[2016-11-01 01:50] klepas commented on #5
@gazhands Hey, could you attach and share these mockups here please? (:

[2016-11-01 02:01] gazhands commented on #5
![4 patterns template](https://cloud.githubusercontent.com/assets/17328069/19877427/4fd4e648-a033-11e6-9dfc-7cc45491a43d.png)
![3 components template](https://cloud.githubusercontent.com/assets/17328069/19877428/4fd88528-a033-11e6-83d5-51342e612227.png)
![5 page templates](https://cloud.githubusercontent.com/assets/17328069/19877429/4fdb2382-a033-11e6-9bed-10b3ae03123d.png)

[2016-11-01 02:02] gazhands commented on #5
wip

[2016-11-01 02:37] klepas commented on #5
Thanks @gazhands

That last mockup where a whole template is placed as an example within the page is going to be problematic — if we were to do this we’d need to make work-arounds so that the media queries aren’t triggered resulting in the page displaying tablet or mobile mode…

I think it would make much more sense providing a link to a full page example rather than embedded within the page.

[2016-11-01 02:45] hannah-ustwo commented on #5
@klepas @gazhands thanks guys! I think it's worth noting there are quite a few things worth discussing from these mockups. Pasting from our slack convo yesterday:

We're going to have an in-person chat with printouts of the current state of designs here in Sydney shortly. Will relay that discussion or set up a hangout.

[2016-11-01 03:03] joolswood commented on #5
The `Resources and reference` section could be possibly slimmed down or removed? It kinda feels like a grab bag of stuff that hasn't got a proper home yet. We probably want to surface the links to the wiki much earlier on so people can see the latest discussion?

I might be crazy, but I'm wondering whether we don't include the web browser testing status for every component. It's the same status fo

[2016-11-01 05:14] petronbot opened #18 "Foundations: Typography page"
As a user, at any time, I want to understand:
* how Typography forms a foundation to the UI Kit's design system and
* how Typography styles have been written into the UI-Kit

**To do:**
- [x] Create a new field in the UI-Kit's KSS comments called 'Collection' that is exported to the JSON data file
- [x] Add `Collection: Foundations` to the Typography section's KSS comment
- [x] Create a new Jekyll

[2016-11-01 21:58] joolswood opened #19 "Reorganise Design Guide content into new IA"
As a user of the Design Guide I need it to be easy for me to locate the guidance I require.

- [x] Refactor all Foundations content into new template.
- [x] Refactor all Components content into new template.
- [x] Refactor all Patterns content into new template.
- [x] Refactor all Getting Started content into new templates.

[2016-11-01 21:58] joolswood commented on #19
Initial task (underway) [mapping sections in spreadsheet](https://docs.google.com/spreadsheets/d/1C8LmNAkufaygI5kS9OIIPtpqkcILUebi__kXSg-4Z_Y/edit#gid=0).

[2016-11-01 22:42] klepas commented on #9
Thoughts:
- need to explain what foundations are
- need to link to the children sections of foundations (might need to modify the `collection-index.html` layout)
- <more missing things?>

Otherwise, if we build content-agnostic layouts we can probably knock off a number of shared todos between this page, the _Components_ page (#10), and later, the Patterns page (#11).

[2016-11-01 22:47] klepas commented on #17
Nothing should be blocking this at the moment, unless we want a more custom layout for this page (though possibly if we need to tweak navs).

Otherwise, content work on this can commence, I think? :)

[2016-11-01 22:48] klepas commented on #17
Ah, nevermind me. :)

[2016-11-01 22:53] klepas commented on #12
Todos:
- [ ] Consider and ideally merge https://github.com/AusDTO/gov-au-ui-kit/pull/432 merged into UI-Kit
- [ ] Implement a search functionality in such a way that all guides can use it — quick n’ dirty would be google search; else something like Lunr.js, which @bjgordon implemented for the DTA website just recently (eg http://jekyll.tips/jekyll-casts/jekyll-search-using-lunr-js/).

[2016-11-01 22:56] klepas commented on #13
Jekyllrb.com reference documentation: https://jekyllrb.com/docs/themes/#creating-a-theme

[2016-11-01 23:03] petronbot opened #20 "Example layouts"
As a user, at any time, I'd like to view and download examples of layouts that can be created using the UI-Kit

[2016-11-01 23:38] joolswood commented on #19
@joolswood to talk to @gazhands once scrape finished

[2016-11-01 23:51] klepas commented on #18
Refer to some of the design mockups completed in #5.

[2016-11-01 23:59] #5 closed

[2016-11-02 00:13] hannah-ustwo commented on #4
Our current MVP solution - use of Waffle (in the mean time)
What's left to do:
Document the Waffle workflow.
Include the Guide (Getting Started?)
([see IA spreadsheet](https://docs.google.com/spreadsheets/d/1C8LmNAkufaygI5kS9OIIPtpqkcILUebi__kXSg-4Z_Y/edit#gid=0) )

[2016-11-02 00:14] hannah-ustwo commented on #3
Now in the strategy doc for exec review . Moving to done.

[2016-11-02 00:52] hannah-ustwo commented on #18
NOTE: This ticket is a bit of a discovery vehicle for design and content and development

[2016-11-02 00:59] hannah-ustwo commented on #10
Once ausdto/dto-design-guide#18 is done, we may have to update the task list based on discoveries.

[2016-11-02 01:07] hannah-ustwo commented on #14
To Do:
- Continue design exploration, wrap up SOOOOOOON
- Currently blocked by ausdto/gov-au-ui-kit#403
- (insert to-do list from previous tickets)

[2016-11-02 01:08] hannah-ustwo commented on #8
Largely a content task. Will be informed by previous ticktes and content tickets addressing the same work.

[2016-11-02 03:48] hannah-ustwo commented on #8
**To do (copied and adjusted from Foundations overview page)**
- [ ] Create a new Jekyll template
- [ ] Use Liquid template logic to Populate the template with content from `_collections/principles/index.md`
- [ ] Set up Collections config & frontmatter so that the foundations page appears at `/principles/index.html`
- [ ] Add 'Foundations' to the Site/Global nav (if it exists) or the Local nav

[2016-11-02 04:02] hannah-ustwo commented on #9
@klepas regarding

Yes - Every overview page should have the definition of the section term. Drives back to our research findings around terminology and language.

[2016-11-03 06:31] #18 closed

[2016-11-03 06:36] klepas opened #22 "Rename repository to match our agency’s name"
Couldn’t find an issue for this and figured we should do this to this repo before we make it public to anyone within the agency so that we avoid the URL problems we’re gonna have with the UI-Kit’s repo rename.

[2016-11-03 07:01] klepas commented on #4
Just adding a note here that there’s some good points being put into the gdoc DW started (the one entitled “Guides Strat Feedback”) after today’s run-through.

[2016-11-03 22:34] joolswood opened #23 "Develop DOD process for Design Guide"
Resolve checklists git issues vs tickets

[2016-11-03 23:50] hannah-ustwo opened #24 "Foundations: Typography Design Refactor"
Exploring and identify any necessary style/design updates to be made on this page (and as a template for the rest of the pages that sit under Foundations).

We're aiming to use as much of the existing UI kit as possible and not creating anything new unless it directly addresses our existing user research insights.

Attached is the Foundations template design completed by @gazhands
To be discussed

[2016-11-03 23:50] hannah-ustwo opened #25 "Foundations: Typography Content Refactor"
- [ ] Can we use code to generate the content of the `font-specimen.png`?
-  [ ] Need to fix links to right place in the SCSS.
- [ ] Final proof of content.

[2016-11-04 06:00] joolswood commented on #25
Some of the issues I've picked up on:
- naming of examples separate from what is in the scss element
- pulling the example file from the md rather than the scss
- issue of repeating identical headings when a page contains multiple components (accessibility issue)
- need to be able to add principle prior between heading and rendered example (and between heading and in this section)
- capitalisation

[2016-11-06 23:00] joolswood commented on #25
Here's another weird one. Loading the `typography` page from the left menu only loads the scss content. I have to go to the `foundations` page then the `typography` page to get the md collections content!

[2016-11-06 23:07] hannah-ustwo commented on #24
Reviewing the current state of this page, and acknowledging the work being done on ausDTO/dto-design-guide#24, these are notes regarding any style changes on the pages:
- Divider lines to be added between elements/sections of a page. (refer to attached image)
- Style of visual example container to be updated  – new designs from @gazhands exist (refer to attached image),  I'm timebox-exploring othe

[2016-11-06 23:13] hannah-ustwo commented on #24
![image](https://cloud.githubusercontent.com/assets/19661064/20042701/d88337da-a4d2-11e6-99a2-bb8070ee4747.png)

[2016-11-06 23:39] hannah-ustwo commented on #24
WIP:
Exploring different ways to present the visual example and code in a less clunky way, taking cues from @gazhands' existing designs...

![image](https://cloud.githubusercontent.com/assets/19661064/20042908/629e6dba-a4d6-11e6-9009-a180fa2105ba.png)

[2016-11-06 23:51] klepas commented on #25
Just updating this with the chats we had — all agreed that we want to make a range of changes; the points above from @joolswood are all valid.

For clarity, I proposed we make a list, side-by-side of the content that comes from both the md files in the dto-design-guide repo, and the SASS, such that we get a better grasp together what lives where, how things are slotted together, and what limitatio

[2016-11-07 05:26] joolswood commented on #25
Mapping here: https://docs.google.com/spreadsheets/d/1Abn7vKhmrz8GA-DwwXniamD0lmgTI_KXCdntINny7Pc/edit#gid=965974777

[2016-11-08 00:14] joolswood commented on #24
Hey @hannah-ustwo I think in a lot of cases we'd want to show the code and example at the same time.

[2016-11-09 03:11] AndrewArch opened #27 "home page accessibility section"
1. Currently we say `UI Kit aims to be WCAG2 AA compliant, and AAA where possible.`
I suggest instead `UI Kit aims to be WCAG2 AA compliant, and AAA where appropriate.` as some AAA criteria are possible but not always appropriate as by lifting the level for some you can actually disadvantage others.

2. Rather than calling out `WAVE` as the manual evaluation tool, let' say `We are working on:  man

[2016-11-09 03:18] AndrewArch opened #28 "Accessibility audit"
re [http://dto-design-guide.apps.staging.digital.gov.au/#accessibility](http://dto-design-guide.apps.staging.digital.gov.au/#accessibility)

Do we intend to get the components 'audited'? or is this referring to the 'DTO Design Guide' site?

Needs clarifying :)

Also worth mentioning that any issues arising during the use of the UI-Kit in the development of products should be fed back to the team f

[2016-11-10 05:57] joolswood commented on #24
A few things, based on today's work (all in `feature/typography-refactor`):

- [x] Major thing to fix is to have flexibility over how to order elements on the pages - so you don't need to edit the SASS to create/rename H2s and move guidance around.
- [x] The page principle (`Use clear and accessible typography as the primary way to communicate.` on Typography) should appear between the page title

[2016-11-10 05:58] joolswood commented on #24
Also there might be a fancy code way of generating the content of the `font-specimen.png`?

[2016-11-11 00:40] joolswood commented on #24
Also contrast of border on examples

[2016-11-11 00:55] hannah-ustwo commented on #24
TEMPORARY MESSAGE @joolswood @klepas can you guys get me the email to tommy at ICT in Sydney? Weve been booted off of DTA netwrks a bit too early...

[2016-11-11 03:41] joolswood commented on #24
![screen shot 2016-11-11 at 2 38 15 pm](https://cloud.githubusercontent.com/assets/13774080/20203599/c5a63728-a81c-11e6-8803-0168d7f3a147.png)

Just playing around with improving the page headers after our chat @klepas - should we define a new style for this?

[code]

[2016-11-11 03:51] hannah-ustwo commented on #17
Nothing too new to see here, though still have some questions IA related  that are blocked by content needed for this.  i.e. Do we split pages out like this mockup, or are they on the same page?

![image](https://cloud.githubusercontent.com/assets/19661064/20203776/5fe4585a-a81e-11e6-9286-dc5c4eb4bcbb.png)

[2016-11-11 05:34] joolswood commented on #17
I'd prefer not to progress the content until @klepas and I have changed the template workflow. And (ideally) pulled in the `feature/typography-refactor` content . As it stands, my understanding is we would need to add a new SASS partial or edit an existing one in order to generate the new 'Getting started' section and page, which is not great.

[2016-11-11 05:37] joolswood commented on #19
This is more related to the design tasks, but: we need to figure out how to set the order of sections in the local nav to override alphabetical. @klepas

[2016-11-14 05:12] joolswood commented on #25
I've been working in the `feature/typography-refactor` branch. There's changes to the SCSS that are currently only on my local machine so I'll need to chat with @klepas to make sure they are pushed up before we merge.

[2016-11-14 05:49] joolswood commented on #19
Just a little reminder for me that I've stashed a bunch for great resources on form design (mostly from Leisa) in the relevant JIRA ticket: https://govausites.atlassian.net/browse/DESIGN-475

[2016-11-14 23:02] klepas commented on #17
I think I can unblock this easily for you today @joolswood.

[2016-11-15 05:35] joolswood commented on #17
@klepas I did yesterday set up a new branch to work on this content, but can delete.

[2016-11-15 22:40] klepas commented on #19
Blocked by #24.

[2016-11-15 23:01] gazhands commented on #22
Chat to cloud

[2016-11-15 23:07] gazhands commented on #23
Reviews
Code
Content
Design
Ally

[2016-11-15 23:10] gazhands commented on #3
Create lane in waffle (Federated design clinic)

[2016-11-16 00:41] joolswood commented on #3
Hey @gazhands probably `gov-au-ui-kit` is the most appropriate repo to use for the swim lane?

[2016-11-16 01:15] gazhands commented on #3
@joolswood wouldn't allow me to create the lane due to not being able to create a label?

[2016-11-16 03:25] #3 closed

[2016-11-16 03:25] gazhands commented on #3
Done

[2016-11-16 23:25] joolswood commented on #24
Template mapping here: https://docs.google.com/spreadsheets/d/1Abn7vKhmrz8GA-DwwXniamD0lmgTI_KXCdntINny7Pc/edit#gid=0

[2016-11-16 23:31] joolswood commented on #24
Hi @dominikwilkowski I've added a couple of missing things to the list above. This might be a problematic one we need to talk through with @klepas `We'd like to get some component details defined in the SASS come across to the Design Guide ie a component description, a version, a browser support level and an accessibility support level.`

[2016-11-17 03:33] dominikwilkowski commented on #22
Shall we wait with this until the GitHub org has also been changed as we otherwise have to go through this pain twice?

[2016-11-18 02:29] gazhands commented on #4
For ref. https://github.com/18F/web-design-standards/wiki/Contribution-Guidelines:-Design

[2016-11-18 05:46] gazhands commented on #14
![design guide - home](https://cloud.githubusercontent.com/assets/17328069/20420011/7ef8123c-adae-11e6-8d6c-96e83fa2fc48.png)

[2016-11-18 05:46] joolswood commented on #24
Hi @dominikwilkowski just querying the `The page principle (Use clear and accessible typography as the primary way to communicate. on Typography) should appear between the page title and the In the section menu.` being completed - I know it works for the H2s within the page, but how do we get content in `index.md` file to show up above the `In this section` menu on pages?

[2016-11-18 05:48] joolswood commented on #24
Also re: @dominikwilkowski `Need to append DTA Design Guide to the page title.` - I meant appending `DTA Design Guide` within the <title> element of the page, can we do this?

[2016-11-18 06:00] joolswood commented on #24
And just a couple of other things I spotted this arvo @dominikwilkowski :
- We need to name md files after the `ID` rather than the `Title` - should this be the other way around?
- I realised that the contents of Lists works better as a component of Typography than on it's own page in Foundation. In order to get this to work I had to edit the `_typography.scss` partial and the `templates/basic-lin

[2016-11-18 22:33] dominikwilkowski commented on #24
Thanks @joolswood

I need to talk to you about this. Not sure what the `In this section` section is :)

You can add it to anything yourself or you tell me where and we add it to a bit inside the layout so it's automated and always there

Very good point. Totally. I'm just a bit precious with file names. We can even add another attribute that takes the file name… ?

I'm not sure about that very wor

[2016-11-20 22:11] joolswood commented on #24
@dominikwilkowski

![screen shot 2016-11-21 at 8 58 21 am](https://cloud.githubusercontent.com/assets/13774080/20466505/b50702e0-afc8-11e6-9082-8d20b66fc861.png)

I have to explain this one over hangout I think. It's about how to add 'DTA Design Guide' into the `<title>` tag without changing the front matter of the md file.

Yah let's have a chat about this one.

I might have to do a few more page

[2016-11-20 22:11] joolswood commented on #24
Gotta test out the `component description` and `version` too - let's talk about them also.

[2016-11-21 00:00] joolswood commented on #14
Hey @gazhands design looks nice and clean! I'm wondering about the FAQ stuff at the bottom though - ideally we won't need it. I'll see what I can do when we get to the home page content refactoring.

[2016-11-21 00:29] joolswood commented on #19
Continuing to work in `feature/typography-refactor` for now (counter productive to create a new branch from this while we are still fixing template issues).

[2016-11-21 00:31] gazhands commented on #14
coolio, just idea's on what content we may need on the homepage. Some of it is best suited for getting started?

[2016-11-22 02:30] klepas commented on #23
@gazhands @joolswood Do we have these added to `.github/` folder as template files yet? :)

[2016-11-22 02:30] klepas commented on #22
Yes. We should actually raise this in #tech or the next guild meeting.

[2016-11-25 01:10] gordcorp commented on #12
Had a chat with @klepas, I'll do up a quick PR with the lunr.js search that is used on the dta-website for you to look at and integrate how you see fit. If you're changing the IA it's in my interest to do so I can find the new location of things :-)

[2016-11-25 02:59] klepas opened #39 "Left over template and QA work post-Typography refactor"
These are uncompleted tasks from #24.

- [x] Remove duplicate list of section child items (made redundant by local-nav) in collection overview/index pages.
- [x] Move any inline CSS styling into the `design-guide.scss` partial (eg the page h1 span styling).
- [x] Remove redundant scss in `design-guide.scss`
- [x] breadcrumbs
- [x] Add back to top link into the footer
- [x] reference `#h2-title` ho

[2016-11-25 02:59] klepas commented on #24
The remaining open checkbox items above have been pulled out to #39.

Gonna close this.

[2016-11-25 02:59] #24 closed

[2016-11-25 07:32] klepas opened #40 "Footer eg render in /patterns/navigation/index.html#footer-navigation is overflowing"
See: /patterns/navigation/index.html#footer-navigation

![screen shot 2016-11-25 at 6 31 41 pm](https://cloud.githubusercontent.com/assets/52766/20617460/8db05dc2-b33d-11e6-8a42-f51d438ddb5e.png)

[2016-11-27 23:25] joolswood commented on #39
Just added a couple of things.

[2016-11-29 05:37] gazhands opened #43 "Epic - Design feedback to 2.0"

[2016-11-30 00:10] klepas commented on #39
Note to self: agreed in sprint planning to split this into the stuff we wanna do, and the stuff we wanna do later. I’ll split these out.

[2016-11-30 00:25] #25 closed

[2016-11-30 00:29] klepas commented on #43
Please review https://github.com/AusDTO/dto-design-guide/pull/44 :)

[2016-11-30 04:26] gazhands commented on #43
My notes so far on design guide feedback
- [x] Can we update the header with the right logo
- [x] Make smaller -2 'DTA Design Guide' above page title and add section title
- [x] Fix navigation/side nav on mobile (collapsed)
- [x] Iterate on how we display a Component/Pattern
  - Example in box only
  - Use of borders and colours in accordions
  - Accordion states, open v closed
- [x] gaz to do a d

[2016-11-30 22:29] joolswood commented on #43
Not sure exactly what is required here, please can you elaborate? Can we also look at overriding the H1 to make > than H2?

I'd like to explore adding to / changing this to the section title (`Foundations`/`Components`/`Patterns`)?

Is this about putting the code into an accordion?

Agreed. Can we work on making the example boxes and accordions more harmonious.

It'd suggest it's valuable for a us

[2016-12-01 22:38] gazhands commented on #43
![design guide - home](https://cloud.githubusercontent.com/assets/17328069/20815686/fd8ea70e-b872-11e6-8af0-6a1f2296cf79.png)

[2016-12-01 23:29] klepas commented on #43
@gazhands I shoulda mentioned this earlier (it occurred to me first when I did the content guide styling months back, which has a similar homepage design): we shouldn’t be styling the links to these sections as buttons. Are you alright if we preserve that design but opt for link styling instead?—happy to ofc. give them some extra embellishments over generic link styles.

[2016-12-02 00:59] joolswood commented on #43
- [ ] Can we also take a look at the empty row in the footer? Or is this intentional?
![screen shot 2016-12-02 at 11 56 10 am](https://cloud.githubusercontent.com/assets/13774080/20819126/91b7216e-b886-11e6-9269-87a2561d38ad.png)

[2016-12-02 01:00] gazhands commented on #43
We should look at footer, it needs some love

[2016-12-02 01:01] gazhands commented on #43
![4 patterns example layout 2](https://cloud.githubusercontent.com/assets/17328069/20819216/0c185392-b887-11e6-913d-698ff32c9185.png)
![4 patterns example layout 1](https://cloud.githubusercontent.com/assets/17328069/20819217/0c45eaf0-b887-11e6-89f9-3ad154a91aa8.png)

[2016-12-02 04:01] joolswood commented on #43
- [x] Also seems like a massive gap at top of pages?

![screen shot 2016-12-02 at 3 00 10 pm](https://cloud.githubusercontent.com/assets/13774080/20822626/3f207eae-b8a0-11e6-8c81-773943c17b5b.png)

[2016-12-02 05:18] klepas commented on #43
Should be fixed by https://github.com/AusDTO/dto-design-guide/pull/50

[2016-12-05 01:51] joolswood commented on #43
- [x] Please can we replace the hyphen in the breadcrumbs with a non breaking space @klepas or @dominikwilkowski ? ie `Home > Getting-started > Overview`

[2016-12-05 05:07] klepas commented on #39
New goodies in https://github.com/AusDTO/dto-design-guide/pull/54 that should provide for some of the remaining above checklist items. (:

[2016-12-05 10:01] klepas commented on #43
I reckon we should lift out the remaining to-dos after a chat with Gaz and Jools into a new ticket @dominikwilkowski @gazhands @joolswood ? :)

[2016-12-05 10:02] klepas commented on #39
I’ve started a branch on the *Home page custom layout* task.

[2016-12-05 10:08] klepas commented on #39
Hey @dominikwilkowski what do you reckon — split this task up into what’s left and close this?

[2016-12-05 22:41] klepas commented on #43
Intentional. Will run through it.

[2016-12-06 23:18] joolswood opened #57 "Add syntax highlighting for inline code"
Can you please show me how best to implement this @klepas?

[2016-12-06 23:21] joolswood opened #58 "For developers content"
Edit content in https://github.com/AusDTO/dto-design-guide/tree/feature/typography-refactor/_getting-started/developers to:

- [x] remove stuff that should be in UI-Kit repo
- [x] update accessibility table and add to page
- [x] update browser support table and add to page

Thanks @klepas

[2016-12-06 23:40] klepas opened #59 "Implement the homepage layout"
This has been split out from https://github.com/AusDTO/dto-design-guide/issues/39

Work remaining:

- [x] hero design
- [ ] FAQ section — chat with Jools re. this section
- [ ] license & credit content — maybe move off the homepage?

[2016-12-06 23:58] klepas opened #61 "Re-add GH source link line number reference"
This is probably contingent on us cleaning up our SASS partials in placing the inline SASS comments adjacent to the actual features we want to document.

[2016-12-06 23:58] klepas opened #62 "Add a favicon for the guides/DG"
Lifted from https://github.com/AusDTO/dto-design-guide/issues/61

[2016-12-07 01:52] klepas commented on #61
This task is kinda blocked by:

- updating the sass partial comments after Jools has moved all applicable content over into jekyll/md
- cleaning up the remaining sass comment blocks to ensure that the comment blocks are positioned properly within each partial such that linking to a line number actually takes users to the comment block adjacent to the supporting code.

[2016-12-07 01:52] klepas commented on #57
I’m have a crack, and I’ll show you :)

[2016-12-07 01:55] klepas commented on #28
We have been testing the components as they are used by other teams (those sessions you kindly organised Andrew).

I’m keen to close this issue since the a11y info is no longer on the readme/homepage — it’s been lifted and moved into *Getting started* > *For developers* > *Accessibility*, and I need to update this content (which is tracked in #58).

[2016-12-07 01:55] #28 closed

[2016-12-07 01:56] klepas commented on #27
Agreed. I will be updating this content, which is now under *Getting started* > *For developers* > *Accessibility*.

I’ll run the edits past you as part of issue #58.

Closing this ticket as a result.

[2016-12-07 01:56] #27 closed

[2016-12-07 02:03] klepas commented on #22
Had a chat to Catherine from cloud: cut-over date for when the AusDTO org name will change is anticipated to be `Jan 16 2017` — we should rename our repos on or after this date methinks @dominikwilkowski ? :)

[2016-12-07 02:08] klepas commented on #23
@dominikwilkowski Hey, we should finish this as I think it might help us work better. (:

[2016-12-07 02:09] klepas commented on #19
@joolswood Hey, can we split this issue up into smaller remaining items? (:

[2016-12-07 02:10] klepas commented on #17
@joolswood can we close this?; happy to lift out anything remaining.

[2016-12-07 02:11] klepas commented on #14
Closing — now covered by #59.

@joolswood I’ll chat to you re. the FAQ section.

[2016-12-07 02:13] klepas commented on #15
@gazhands I’m gonna assign this to you.

[2016-12-07 02:13] #14 closed

[2016-12-07 02:14] klepas commented on #20
This work is blocked at the moment: we don’t know what templates we want to offer.

[2016-12-07 02:15] klepas commented on #11
@joolswood Sit rep? (:

[2016-12-07 02:17] klepas commented on #10
This task is now redundant — closing.

[2016-12-07 02:17] #10 closed

[2016-12-07 02:30] klepas commented on #8
Just highlighting that we have some good notes on the duplicate of this ticket in the UI-Kit repo: https://github.com/AusDTO/gov-au-ui-kit/issues/404

[2016-12-07 02:41] joolswood commented on #11
`Sit rep?` ???

[2016-12-07 02:41] klepas commented on #43
Hey @AusDTO/guides I’m keen to work through the remaining items here and get them split into their own new, more granular issues.

@gazhands can we do a hangout after standup tomorrow? :)

[2016-12-07 02:42] joolswood commented on #14
@klepas sure

[2016-12-07 02:44] #17 closed

[2016-12-07 02:46] joolswood commented on #19
@klepas I've edited the checklist to complete this task. The remainder work (until we agree to create tickets to write new stuff) is iteration of existing content. Should we / how do we ticket this?

[2016-12-07 02:46] #19 closed

[2016-12-07 02:47] joolswood commented on #23
My bad, I just haven't got back to this. Happy to draft something, or work with you fine people.

[2016-12-07 02:48] klepas opened #63 "Tagging taxonomy system"
As a user I would find it useful to see a curated, systematic tagging taxonomy for the features of the UI-Kit, to make it easier to discover related features across the Design Guide.

The tagging system would link in some capacity to other features, or a page of related features — details to be hashed out.

[2016-12-07 02:50] klepas commented on #39
Hey all,

I’ve lifted out the remaining tasks, creating new issues for them, and tried to ID what’s blocked:

Lifted out:

- re-add the GH code line # reference URI. - broken link currently?
- favicon? ^_^
- Home page custom layout
- tagging #63

Leaving till later:

- Add in section name to the CSS styling above child pages — I added a branch that implements this: https://github.com/AusDTO/dto-de

[2016-12-07 02:51] klepas commented on #39
Closing issue.

[2016-12-07 02:51] #39 closed

[2016-12-07 02:52] klepas commented on #11
Situational report ^_^

[2016-12-07 02:52] klepas commented on #23
@joolswood let’s just get a PR up together when you’re back — it’ll take us all of 5mins.

[2016-12-07 03:13] joolswood commented on #11
Ah ok. There's draft text in the typography branch. I'm reasonably comfortable with it - subject to us iterating it in the crits etc. So will close this one.

[2016-12-07 03:13] #11 closed

[2016-12-07 03:41] klepas commented on #23
I’ve added PRs for both — see above. Please review. (:

[2016-12-07 23:42] klepas opened #66 "Consider implementing pa11y for a11y testing"
Eg. https://github.com/AusDTO/dta-website/pull/222 and the CGA mkdocs repo also has an implementation made by Simon: https://github.com/AusDTO/cga_docs

[2016-12-07 23:46] klepas commented on #58
I’ll pick this up today.

[2016-12-07 23:48] klepas commented on #19
The crit today? :)

[2016-12-08 00:03] klepas commented on #59
Todos:

1. Chat to jools re. FAQ and licensing section
2. If we agree to move these out of the homepage, create separate tickets for them.

[2016-12-08 00:07] klepas opened #67 "Figure out shell command code highlighting syntax and improve styling"
This is to support https://github.com/AusDTO/dto-design-guide/issues/57

I need to:

- figure out the right syntax
- test it
- communicate it back to Jools (see #57)
- tweak it’s styling as needed

[2016-12-08 00:08] klepas commented on #57
I’ll give you the syntax for it, once I complete #67.

[2016-12-08 00:12] klepas commented on #40
Noting that Dom and I had a quick chat about this — this is a larger class of bug, and `overflow:auto` isn’t really an apt solution.

As Dom notes, we might have to consider loading our rendered egs as iframes.

[2016-12-08 00:17] klepas commented on #40
Actually, solved by our old method in the `kss.scss`

[code]

[2016-12-08 00:27] gazhands opened #68 "Foundation colours page (UI-Kit update)"
Give more context to colour palette. Iterate on design - we agreed to revisit this page after the ‘2.0’ DG release

[2016-12-08 00:30] gazhands opened #69 "Typography improvements (UI-Kit update)"
Address type sizes used, headers vs body copy (Foundations>layout seems pretty close) — happy to do this within UI-Kit after the DG 2.0 release.

[2016-12-08 00:32] gazhands commented on #43
I've captured the to remaining items (added to inbox)
1. Colour palette (68)
2. Type (69)

[2016-12-08 00:32] #43 closed

[2016-12-08 00:33] klepas commented on #20
@gazhands I’m gonna leave this in your hands for now, given we are going live with this section/collection enabled (viz., the page at /templates/ will be live, but won’t hold any content).

We need to mention this, and figure out what templates to create/add in the future.

[2016-12-08 00:34] klepas commented on #13
Blocked in spirit (not technically) by the need to finish the design guide.

[2016-12-08 00:36] klepas commented on #9
Assigning to you @joolswood :)

[2016-12-08 00:40] klepas commented on #68
Yup, agreed. :)

@gazhands I’m assigning both of us to this, since we both need to pair on this one to make it happen (eg I need to make edits to the colour SASS partial in uikit to support the edits we want to make here).

[2016-12-08 00:41] klepas commented on #69
@gazhands Agreed.

We could in theory override some of the typographic styling within the design guide stylesheet, and then push those edits upstream into UI-Kit, or we could just do it directly in UI-Kit later.

Your call.

[2016-12-08 00:42] #23 closed

[2016-12-08 01:00] gazhands opened #70 "Accordion appearance and states (open v closed)"
Iterate on how we display a Component/Pattern
Example in box only
Use of borders and colours in accordions
Accordion states, open v closed

[2016-12-08 01:03] gazhands commented on #43
3. Accordion appearance and states (70)

[2016-12-08 01:04] klepas commented on #70
Thanks.

I’m assigning this one to you Dom, since you’re issue-less right now :D

[2016-12-08 01:52] dominikwilkowski commented on #70
Adding design assets:

![0c45eaf0-b887-11e6-89f9-3ad154a91aa8](https://cloud.githubusercontent.com/assets/1266923/20994552/36d2c654-bd45-11e6-9e28-426e4af36a35.png)
![0c185392-b887-11e6-913d-698ff32c9185](https://cloud.githubusercontent.com/assets/1266923/20994553/38798f88-bd45-11e6-98c6-7216d512883e.png)

[2016-12-08 02:54] gazhands opened #71 "Remove the underline from the homepage link in the internal site header"

[2016-12-08 03:19] klepas commented on #70
@gazhands @dominikwilkowski are we OK in retaining the copy to html button + the GH source reference *outside* the accordion?

[2016-12-08 03:20] klepas opened #72 "Technical edits to the typography section"
I’ve got to make some edits to the typography section, most particularly wrt. the font stacks.

[2016-12-08 03:22] klepas opened #73 "Investigate why some md content isn’t receiving ‘smart’/proper typography after parsing"
On some pages (eg typography section) there are a good number of ‘dumb quotes’, etc. — investigate.

[2016-12-08 03:40] klepas opened #74 "Extract the guidance accordion html into an include so that guidance can be written in MD"

[2016-12-08 04:13] joolswood opened #75 "Home page content fixes"

[2016-12-08 04:15] joolswood opened #76 "Add roadmap information to home page"
This could be some combination of roadmap / updates / what's new.

[2016-12-08 05:00] klepas commented on #67
Rouge lang shorthand ref: https://github.com/jneen/rouge/wiki/List-of-supported-languages-and-lexers

[2016-12-08 05:31] klepas commented on #57
Hey @joolswood,

My PR #80 should cater for this.

For reference the method for invoking syntax highlighting for shell/terminal commands (bash or whatever other language) is as follows:

[code]

To do HTML highlighting use:

[code]

So in effect we’re replacing the backticks (`) with this highlight liquid tag. If you omit the language it will just set it as if it were a generic code block.

For a

[2016-12-08 05:31] joolswood opened #81 "Explain relationship between Foundations, Components, Patterns & Templates"
To include a version of this on each overview page.

[2016-12-08 05:32] klepas commented on #67
https://github.com/AusDTO/dto-design-guide/pull/80 Should close both this, and #57.

[2016-12-08 05:33] klepas commented on #43
Thanks @gazhands.

Btw, you add a `#` in front of (either the PR *or* issue) number GitHub will auto-link it for us! (:

[2016-12-08 05:34] joolswood opened #82 "Look at adding more sections from IA card sort to getting started"

[2016-12-08 05:35] joolswood opened #83 "Typography page content improvements"
- [x] Why we picked Open Sans font family (in guidance)
- [ ] Headings - advise not to skip a level.
- [ ] Why h4-h6 styled same / govclass

[2016-12-08 05:35] joolswood opened #84 "Add links to Content Guide"
For headings / body and other places across the Design Guide.

[2016-12-08 05:36] joolswood opened #85 "Add guidance on checkbox & radio button: label to the right"

[2016-12-08 05:37] joolswood opened #86 "Mark in-page tabs as experimental"
Add content and/or badge.

[2016-12-08 05:37] joolswood opened #87 "Add guidance to use expand / close all to accordions"

[2016-12-08 05:37] joolswood opened #88 "Rename `highlighted list`"

[2016-12-08 05:38] joolswood opened #89 "Add `See more` guidance to list styles page"

[2016-12-08 05:38] joolswood opened #90 "Change name of `Complex table`"
To: `Calendar table` & move to patterns

[2016-12-08 05:39] joolswood opened #91 "Fix Basic table errors"
- [x] Fix 'Poplulation'!!!
- [x] add unit

[2016-12-08 05:39] joolswood opened #92 "Add some examples of future templates"
eg. contact us

[2016-12-09 00:21] #40 closed

[2016-12-09 00:44] #67 closed

[2016-12-09 00:47] #71 closed

[2016-12-09 02:33] klepas commented on #83
Why we picked it is in the guidance already:

[2016-12-09 02:35] klepas commented on #81
Gaz posted these into slack after the meeting:

![pasted image at 2016_12_08 01_38 pm](https://cloud.githubusercontent.com/assets/52766/21035570/28209ce2-be14-11e6-8951-ac3bbbaa95ea.png)

![pasted image at 2016_12_08 01_39 pm](https://cloud.githubusercontent.com/assets/52766/21035578/3a4cfc4e-be14-11e6-8178-45d860a0492c.png)

![pasted image at 2016_12_08 01_39 pm 1](https://cloud.githubusercontent

[2016-12-09 04:08] #74 closed

[2016-12-09 05:07] dominikwilkowski commented on #62
favicon:
[favicon.ico.zip](https://github.com/AusDTO/dto-design-guide/files/641283/favicon.ico.zip)

[2016-12-09 07:17] klepas commented on #58
PR for this issue above for you @joolswood

[2016-12-09 07:19] klepas commented on #73
I looked into this.

There aren’t any instances where md content wasn’t parsed with the proper desired typography.

The only instances I found were within html blocks — there might still be some left, but I’ve talked to Jools about this, and have started fixing them when I come across them.

Closing this issue.

[2016-12-09 07:19] #73 closed

[2016-12-09 07:27] klepas opened #97 "Better define project & content licensing & disambiguate it from branding/logos"
We’ve discussed the licensing notice in the footer, and link to the MIT license md file on GitHub…

I also just noticed that we make a singular license association, which is quite arguably understandable as applying to everything.

We should note that the Aus gov and Dg logo are reserved branding rights.

I think we should also amend the MD file to be in sync with the site footer msg in name, viz.

[2016-12-09 07:29] klepas commented on #97
@AndrewArch …aaaand we also don’t give any accessibility info… although I guess on the design guide site it’s kinda implied… but I reckon we should put them into the footer we want to distribute in the generic guide template theme anyway… (eg. an accessibility footer notice in the content guide’s footer). What do you think?

[2016-12-11 23:50] gazhands commented on #59
![design guide - home](https://cloud.githubusercontent.com/assets/17328069/21084505/c6b744be-c058-11e6-8689-8da893d49be8.png)

[2016-12-12 02:15] joolswood commented on #91
Done. But wiill have to merge the example file into UI-Kit separately.

[2016-12-12 03:13] #70 closed

[2016-12-12 03:21] #62 closed

[2016-12-12 03:45] dominikwilkowski opened #101 "Code examples"
- [x] make background white
- [x] light theme with more a11y colors https://designnotes.blog.gov.uk/2016/11/08/weve-improved-the-accessibility-of-code-examples/

[2016-12-12 05:19] joolswood opened #102 "Add link to intro to ARIA material to navigation page"
https://www.w3.org/WAI/intro/aria
https://www.w3.org/TR/WCAG20-TECHS/aria.html

[2016-12-12 05:19] joolswood opened #103 "Remove `total number of people` from population table"
Basic table example

[2016-12-12 05:20] joolswood opened #104 "Update local nav doco"
- [x] Note it is intended for sidebar
- [x] Make current page also Grandchild link

[2016-12-12 05:31] joolswood commented on #84
I'll add these to headings and body, but will park during any more until we have the new IA in place for content guide.

[2016-12-12 05:41] joolswood commented on #83
I think the need was for greater specificity eg. what is it about sans-serif that makes it accessible. I'll hold off working on this until we have your branch merged.

[2016-12-12 05:43] joolswood commented on #82
I think we've covered off the major ones already. We can come back to this once we review this content after user research.

[2016-12-12 12:00] #72 closed

[2016-12-12 12:01] klepas commented on #91
@joolswood Gimme a copy and I can do it. (:

[2016-12-12 12:04] klepas commented on #83
@joolswood It can be easier to read than serif for some people (whereas serif can also be easier to read, depending on the serif…). San-serifs also did traditionally better when mapped to a pixel grid than serifs did.

Gaz might have more to add?

[2016-12-12 12:05] #101 closed

[2016-12-12 12:05] #58 closed

[2016-12-12 12:06] #57 closed

[2016-12-12 21:45] joolswood commented on #91
Thanks. Slacking it to you.

[2016-12-12 21:53] joolswood commented on #83
I bookmarked this last week http://alexpoole.info/blog/which-are-more-legible-serif-or-sans-serif-typefaces/ it looks to be a pretty comprehensive overview. Are you aware of that research about screen vs print (his conclusion was there isn't a difference in legibility)? @klepas @AndrewArch

[2016-12-12 22:47] dominikwilkowski opened #107 "Finding a place to host the design guide"
- [x] domain?
- [x] integration?

[2016-12-13 02:06] #59 closed

[2016-12-13 04:20] joolswood commented on #104
Needs another template file to be uploaded.

[2016-12-13 04:26] joolswood commented on #83
I'd be inclined to leave it as is for now.

[2016-12-13 04:26] joolswood commented on #97
Can work with you on this tomorrow @klepas ?

[2016-12-13 05:03] dominikwilkowski opened #110 "Title on homepage doubled up"

[2016-12-13 05:23] dominikwilkowski commented on #107
We've integrated the whole lot. Now just waiting for domain and go ahead.
Should all work automatically once we got the domain... _(famous last words)_

[2016-12-13 06:48] #110 closed

[2016-12-13 23:40] #89 closed

[2016-12-13 23:41] #85 closed

[2016-12-13 23:41] #86 closed

[2016-12-13 23:41] #87 closed

[2016-12-13 23:41] #88 closed

[2016-12-13 23:41] #92 closed

[2016-12-13 23:41] #102 closed

[2016-12-13 23:42] #9 closed

[2016-12-14 00:05] gazhands opened #114 "UI-Kit 2.0"
Explore/dev/research UI-Kit version 2

[2016-12-14 00:40] #91 closed

[2016-12-14 00:41] #90 closed

[2016-12-14 00:41] #104 closed

[2016-12-14 00:41] #103 closed

[2016-12-15 04:57] joolswood commented on #81
I tried a number of different ways to doing this but decided to delete them.

See this commit https://github.com/AusDTO/dto-design-guide/commit/9bbf7ac4389e71ee838e2870d7b95b7701e8c2ae#diff-0d1c9e3ca3e2b0521d25454a56423af0

If we have to explain how our IA works (which this was effectively trying to do) then the IA doesn't work.

I tried a lot of different ways to display it, but it always ended u

[2016-12-15 06:25] dominikwilkowski opened #116 "Images with broken links inside the ui-kit templates"
We got below files with broken links:

- `footer-navigation.html` _(The coat of arms should be on an absolute URL no?)_
- `lists-horizontal.html` _(All placeholders should be http://placehold.it images no?)_
- `lists-vertical.html` _(All placeholders should be http://placehold.it images no?)_

Will fix and push as a `hotfix`.

[2016-12-15 06:26] #107 closed

[2016-12-16 04:01] klepas commented on #15
Who is this item with now? I’m confused in that it’s assigned to me — @gazhands ?

[2016-12-18 22:44] gazhands commented on #15
It's for all of us to do some research in the approach for a wiki eg. https://docs.google.com/document/d/1UtsQNh3V_cs-cEpjC4G2Li_ICPeLrm7TkbW9YyH13Jg/edit

[2016-12-19 00:53] klepas opened #119 "Document the callout styles (missing), adding the 3 new ones in UI-Kit"
## Housekeeping

- [x] There isn't another issue already open for this problem/need.
- [x] I’ve identified or assigned this issue to someone who I think can help.

## What do you need?

1. Document the callout styles
2. Add the 3 new ones added to UI-Kit:
  - `callout--info`
  - `callout--error`
  - `success`

These new ones were added in this PR: https://github.com/AusDTO/gov-au-ui-kit/pull/449

[2016-12-19 22:43] gazhands commented on #4
Some more on this https://docs.google.com/document/d/18IIU8hiJ8LFUXCAqWuTADF73PDnMjm2kYSWaunU5cSo/edit

[2016-12-22 04:58] klepas commented on #81
Thanks for the update. I didn’t get around before you left, but had some thoughts I wanted to share:

I’m almost entirely on-board—

We went from building a style guide to building a design system. The system has a structure that is not — imho — going to be apparent to many people (the relationships that foundations have, feeding into components, which in turn are the building blocks for patterns)

[2016-12-23 00:07] #83 closed

[2017-01-10 04:04] klepas commented on #69
@gazhands Hey, could you outline what needs to be done here? :)

[2017-01-10 04:06] klepas commented on #116
This is fixed; closing.

[2017-01-10 04:06] #116 closed

[2017-01-11 04:02] klepas commented on #69
Closing this.

The changes should be made upstream, in the UI-Kit.

Found an old (open) ticket from Alz on this: https://github.com/AusDTO/gov-au-ui-kit/issues/251

[2017-01-11 04:02] #69 closed

[2017-01-11 11:16] klepas commented on #114
@dominikwilkowski Can I close this — is idea here held in other tix/trello cards?

[2017-01-11 22:41] klepas commented on #97
I made some edits to the `README.md` and `LICENSE.md` file for both repos that updates the copyright attribution from the DTO/A to the Commonwealth of Australia after confirming this with Cath Edwards.

We should still clearly state that the gov’t crest branding is all rights reserved (and no licensed MIT… which raises the Q: *what license* (if any?) is the crest licensed under?).

[2017-01-12 01:05] klepas commented on #119
PR up ^.

[2017-01-12 03:43] AndrewArch commented on #97
maybe we model the copyright statement on what's used on http://www.finance.gov.au/publications/nts-2010-baseline-report/ or more recently http://www.finance.gov.au/publications/portfolio-budget-statements/16-17/

[2017-01-12 03:46] AndrewArch commented on #97
and link "Commonwealth Coat of Arms" to http://www.dpmc.gov.au/government/commonwealth-coat-arms

[2017-01-12 03:53] klepas commented on #97
Thanks @AndrewArch.

PR up.

[2017-01-12 05:28] dominikwilkowski commented on #114
Ideas are in my head :)

[2017-01-12 05:28] #114 closed

[2017-01-12 22:33] #97 closed

[2017-01-13 03:11] AndrewArch commented on #81
Agree - @joolswood has done a good job. And yes to "switch the Get started list of definitions into a definition list, which I think also makes the page far more scannable" @klepas

[2017-01-13 03:14] AndrewArch commented on #75
@joolswood - can you elaborate on what would be in the "credits information"?

[2017-01-16 00:25] klepas commented on #81
@AndrewArch I’m going to make a quick PR for this now.

[2017-01-30 22:14] joolswood commented on #75
IIRC thank yous and CC licensing details @AndrewArch

[2017-02-01 03:39] joolswood commented on #119
See comment https://github.com/AusDTO/dto-design-guide/pull/124#issuecomment-276563088

[2017-02-19 23:40] joolswood commented on #81
Closing this - should be able to delete `feature/getting-started-sections-dl` too @klepas

[2017-02-19 23:40] #81 closed

[2017-03-02 00:03] joolswood opened #134 "Evaluate use of & across guide"
## Housekeeping

- [X] There isn't another issue already open for this problem/need.
- [X] I’ve identified or assigned this issue to someone who I think can help.

## What do you need?

Update site to reflect our new guidance on using & (http://content-guide.apps.staging.digital.gov.au/punctuation-grammar/#ampersands).

## Additional information (optional)

This issue closes https://github.com/gov